<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.encore_spring_pjt.mapper.BoardMapper">
    <sql id="insertColumns">
        title
        , content
        , writer
        , view_cnt
        , notice_yn
        , secret_yn
        , delete_yn
        , insert_time
        , update_time
    </sql>
    <sql id="selectColumns">
        idx
        , title
        , content
        , writer
        , view_cnt
        , notice_yn
        , secret_yn
        , delete_yn
        , insert_time
        , update_time
    </sql>

    <sql id="updateColumns">
        idx
        , title
        , content
        , writer
        , update_time
    </sql>

    <insert id="save"
            parameterType="com.example.encore_spring_pjt.domain.BoardRequest">
        insert into encore_board_tbl(<include refid="insertColumns"/>)
        values ( #{title}
        , #{content}
        , #{writer}
        , 0
        , #{noticeYn}
        , #{secretYn}
        , false
        , now()
        , null)
    </insert>
    <select id="findByIdx"
            parameterType="com.example.encore_spring_pjt.domain.BoardRequest"
            resultType="com.example.encore_spring_pjt.domain.BoardResponse">
        select <include refid="selectColumns"/>
            from encore.encore_board_tbl
        where idx=#{idx}
    </select>
    <update id="updateByIdx"
            parameterType="com.example.encore_spring_pjt.domain.BoardRequest">
        update encore.encore_board_tbl
        set
            update_time = now(),
            title = #{title},
            content = #{content},
            writer = #{writer}
        where
               idx=#{idx}
    </update>
    <select id="count"
            resultType="java.lang.Integer">
        select count(*)
        from encore.encore_board_tbl
        where delete_yn = 0
    </select>

    <delete id="deleteByIdx"
            parameterType="com.example.encore_spring_pjt.domain.BoardRequest">
        update encore.encore_board_tbl
        set
            delete_time = now(),
            delete_yn = 1
        where
            idx=#{idx}
    </delete>

    <select id="findAll"
            resultType="com.example.encore_spring_pjt.domain.BoardResponse">
        select *
        from encore.encore_board_tbl
    </select>

</mapper>